// https://material.io/design/color/#tools-for-picking-colors
// https://www.materialpalette.com/light-blue/blue-grey
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=02a9f4&secondary.color=546E7A
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$column-width: 26%;
$padding: 10px;

html, body, main {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	font-family: arial;
}

body {
	flex-direction: column;
	width: 210mm;
	height: 297mm;
}
main {
	flex-direction: row;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
    padding: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    body{
        background: none;
    }
    #page {
        margin: 0;
        zoom: initial;
        border: 10px solid;
        border-image: linear-gradient(to bottom, #3b3a3f, #3b3a3f) 10;
        page-break-after: always;
        transform: scale(1);
        height: 100%;
        width: 100%;
    }
    #pdf_link{
        display: none;
    }
}

i.tiny {
		font-size: 1rem;
}
