$logo-size: 40px;

column {
	background-color: $primary-color-light;
	height: 100%;
	width: $column-width;
	padding: $padding;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	section {
		div.title {
			margin-left: 5px;
			margin-right: 5px;
			height: 30px;
			padding-right: 10px;
			background-color: $primary-color;

			div.logo {
				margin-left: 20px;
				width: $logo-size;
				height: $logo-size;
				background: $primary-color-light;
			}
		}

		div.words {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			div.word {
				width: 50%;
			}
			div.word:nth-child(even) {
				text-align: right;
			}
			div.word:nth-child(odd) {
				text-align: left;
			}
		}

		div.content, div.words {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 12px;
			div.line {
				display: flex;
				justify-content: space-between;
				span{
					font-weight: normal;
				}
			}
		}
	}
}

div#profile{
	width: 100%;
	img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}
}
