$logo-size: 60px;

content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;

	div#experiences {
		padding: $padding;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		section {
			div.title {
				font-size: 26px;
				margin: 10px;
				height: 50px;
				padding-right: 10px;
				background-color: $primary-color;


				div.logo {
					margin-left: 20px;
					width: $logo-size;
					height: $logo-size;
					background: white;
					i {
						font-size: 40px;
					}
				}
			}

			job content {
				width: 90%;
			}

			degree, job {
				display: flex;
				flex-direction: column;
				margin-top: 5px;
				margin-bottom: 5px;
				first, second {
					display: flex;
					justify-content: space-around;
					align-items: center;
				}
				years {
					font-weight: bold;
					font-size: 10px;
					width: 10%;
				}
				diploma, company {
					font-weight: bold;
					font-size: 15px;
					flex-grow: 1;
				}
				school, contract {
					font-size: 12px;
					font-weight: bold;
					margin-right: 5px;
				}
				place {
					width: 15%;
					font-size: 10px;
					color: $secondary-text-color;
					font-weight: bold;
				}
				content {
					name, function {
						font-size: 15px;
						font-weight: bold;
						color: $primary-color-text;
					}
					specialty, technologies {
						font-size: 12px;
						font-weight: bold;
						color: $primary-color;
					}
					teachings, task {
						margin-top: 1px;
						margin-bottom: 1px;
						line-height: 1.4;
						font-size: 12px;
						color: $secondary-text-color;
					}
				}
			}
		}
	}
}
