$logo-size: 60px;

content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;

	div#experiences {
		padding: $padding;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		section {
			div.title {
				font-size: 26px;
				margin: 10px;
				height: 50px;
				padding-right: 10px;
				background-color: $primary-color;


				div.logo {
					margin-left: 20px;
					width: $logo-size;
					height: $logo-size;
					background: white;
					i {
						font-size: 40px;
					}
				}
			}

			degree {
				display: flex;
				flex-direction: column;
				margin-top: 5px;
				margin-bottom: 5px;
				first, second {
					display: flex;
					justify-content: space-around;
				}
				years {
					font-weight: bold;
					font-size: 10px;
					width: 10%;
				}
				diploma {
					font-weight: bold;
					font-size: 15px;
					flex-grow: 1;
				}
				school {
					font-size: 12px;
					font-weight: bold;
					margin-right: 5px;
				}
				place {
					width: 14%;
					font-size: 10px;
					color: $secondary-text-color;
				}
				content {
					flex-grow: 1;
					name {
						font-size: 15px;
						font-weight: bold;
						color: $primary-color-dark;
					}
					specialty {
						font-size: 12px;
						font-weight: bold;
						color: $primary-color;
					}
					teachings {
						font-size: 12px;
						color: $secondary-text-color;
					}
				}
			}
		}
	}
}
